
DB_HOST=hostanda
DB_PORT=5432
DB_NAME=bukubesarkami
DB_USERNAME=postgres
DB_PASSWORD=PASSWORD_DB_ANDA

REDIS_HOST=hostanda
REDIS_PORT=6379
REDIS_PASSWORD=PASSWORD_REDIS_ANDA

JWT_SECRET=JWT_SECRET
JWT_EXPIRATION_MS=3600000
JWT_REFRESH_EXPIRATION_MS=86400000

PGADMIN_EMAIL=emailadmin@admin.com
PGADMIN_PASSWORD=GANTI_PASSWORD_PGADMIN
PGADMIN_PORT=5050

SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=prod

PRODUCTION_URL=https://productionpath